<!DOCTYPE html>
<html lang="en">
<head>
{#<link href="css/home.css" rel=stylesheet>#}
<title>Contact</title>
{% load static %}
<link href={% static "css/css3.css" %} rel="stylesheet">
<link href={% static "image/icon.png" %} rel="icon">
<!-- Latest compiled and minified CSS -->
<link href={% static "lib/bootstrap.css" %} rel="stylesheet">
<link href={% static "lib/bootstrap.min.css" %} rel="stylesheet">
<!-- jQuery library -->
<script src={% static "lib/jquery-3.4.1.js" %} ></script>
<script src={% static "lib/jquery-3.4.1.min.js" %} ></script>
<!-- Popper JS -->
<script src={% static "lib/popper.js" %}></script>
<!-- Latest compiled JavaScript -->
<script src={% static "lib/bootstrap.js" %}></script>
<script src={% static "lib/bootstrap.min.js" %}></script>
	
	<style>
	body{
		background-image: url({% static "image/clg/4.jpg" %});
		background-size: 100% 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top;
	}	
	</style>

</head>
<body>

		<nav class="navbar sticky-top alert-danger btn-outline-primary">
			<li class="navbar-brand">
				<a href="/index"><img class="img" src={% static "image/header.png" %} width="50px" height="50px"></a>
			</li>
			<li class="nav mr-auto">
				<h1>INSURANCE COMPANY LTD</h1>
			</li>
			<li class="collapse navbar-collapse" id="navbarCollapse">
				<li class="nav-item dropdown list-unstyled rounded btn-danger">
					<a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown" style="color:white;">
						<h3>Menu</h3>
					</a>
					<ul class="dropdown-menu">
						<a class="dropdown-item" href="/index">Home</a>
						<a class="dropdown-item" href="/about">About</a>
						<a class="dropdown-item" href="/announcement">Announcement</a>
						<a class="dropdown-item" href="/history">History</a>
						<a class="dropdown-item active" href="#">Contact</a>
					</ul>
				</li>
				&nbsp;&nbsp;
		{% ifequal email None %}
        <li class="nav-item list-unstyled rounded btn-danger"><a
                class="nav-link rounded" href="/login" style="color: white;">
            <h3>Login</h3>
        </a></li>
        </li>
    {% else %}
        <li class="nav-item dropdown list-unstyled rounded btn-danger"><a
                class="nav-link" href="#" id="navbardrop" data-toggle="dropdown"
                style="color: white;">
            <h3>Dashboard</h3>
        </a>
            <ul class="dropdown-menu">
                <a class="dropdown-item" href="/dashboard">
                    <div style="text-align: center;"><img
                            style="border-radius: 500px" src={% static "image/defaultuser.jpg" %} width="120px"
                            height="120px" alt="User Image"/><br>{{ fname }}&nbsp;{{ lname }}
                    </div>
                </a>
                <hr>
                <a class="dropdown-item" href="/chat">Chat</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </ul>
        </li>
    {% endifequal %}
		</nav>
		
		<br>
<!-- 	<div class="container rounded" style="font-size: 20px;text-align: justify;background: white;">
		<br>
		<h2>Navigation</h2>
		<img src="image/campus-map.jpg" width="100%">
		<br><br>
	</div> -->
	<br>
	<br>
	<div class="container rounded" style="font-size: 20px;text-align: justify;background: white;">
		<br>
		<h2>Contact</h2>
		<p>Customer care : 079-98765432</p>
		<br>
	</div>
	<br>
	<br>
	<div class="container rounded" style="font-size: 20px;text-align: justify;background: white;">
		<br>
		<h2>Address</h2>
		<p>INSURANCE COMPANY LTD,</p>
		<p>L. D. College Campus,</p>
		<p>Nr. University Road,</p>
		<p>Navrangpura, Ahmedabad-380015</p>
		<br>
	</div>
	<br>
</body>
</html>