<link href={% static "image/icon.png" %} rel="icon">
<!-- Latest compiled and minified CSS -->
<link href={% static "lib/bootstrap.css" %} rel="stylesheet">
<link href={% static "lib/bootstrap.min.css" %} rel="stylesheet">
<!-- jQuery library -->
<script src={% static "lib/jquery-3.4.1.js" %}></script>
<script src={% static "lib/jquery-3.4.1.min.js" %}></script>
<!-- Popper JS -->
<script src={% static "lib/popper.js" %}></script>
<!-- Latest compiled JavaScript -->
<script src={% static "lib/bootstrap.js" %}></script>
<script src={% static "lib/bootstrap.min.js" %}></script>