<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
	<title>Login</title>
    {% load static %}
{#    <link href={% static "css/css3.css" %} rel="stylesheet">#}
    <link href={% static "image/icon.png" %} rel="icon">
    <!-- Latest compiled and minified CSS -->
    <link href={% static "lib/bootstrap.css" %} rel="stylesheet">
    <link href={% static "lib/bootstrap.min.css" %} rel="stylesheet">
    <!-- jQuery library -->
    <script src={% static "lib/jquery-3.4.1.js" %}></script>
    <script src={% static "lib/jquery-3.4.1.min.js" %}></script>
    <!-- Popper JS -->
    <script src={% static "lib/popper.js" %}></script>
    <!-- Latest compiled JavaScript -->
    <script src={% static "lib/bootstrap.js" %}></script>
    <script src={% static "lib/bootstrap.min.js" %}></script>
	<style>
	body{
		background-image: url({% static "image/clg/4.jpg" %});
		background-size: 100% 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top;
	}	
	</style>

</head>
<body>
		<nav class="navbar sticky-top alert-danger btn-outline-primary">
			<li class="navbar-brand">
				<a href="/index"><img class="img" src={% static "image/header.png" %} width="50px" height="50px"></a>
			</li>
			<li class="nav mr-auto">
				<h1>INSURANCE COMPANY LTD</h1>
			</li>
			<li class="collapse navbar-collapse" id="navbarCollapse">
				<li class="nav-item dropdown list-unstyled rounded btn-danger">
					<a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown" style="color:white;">
						<h3>Menu</h3>
					</a>
					<ul class="dropdown-menu">
						<a class="dropdown-item" href="/index">Home</a>
						<a class="dropdown-item" href="/about">About</a>
						<a class="dropdown-item" href="/announcement">Announcement</a>
						<a class="dropdown-item" href="/history">History</a>
						<a class="dropdown-item" href="/contact">Contact</a>
					</ul>
				</li>
				&nbsp;&nbsp;
				<li class="nav-item list-unstyled rounded btn-danger">
					<a class="nav-link rounded" href="/signup" style="color:white;">
						<h3>Sign Up</h3>
					</a>
				</li>
			</li>
		</nav>
	<br>
<div class="container rounded" style="background:white;border:gray solid 0.5px;width: 35%">
    <center>
        <form class="form-horizontal" method="post" action="/login/">
                {% csrf_token %}
				<div class="form-group">
					<br><h1 class="h1 mb-3 font-weight-normal">Login</h1>
				</div>
				<div class="form-group">
					
					<br><label for="inputEmail" class="sr-only col-sm-2 control-label">E-mail</label>
					<div class="col-sm-10">
						<input type="text" id=en class="form-control border-primary" name="email" placeholder="E-mail ID" required autofocus>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="sr-only col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" id="inputPassword" class="form-control border-primary" name="password"
                               placeholder="Password" required>
					</div>
				</div>
				<div class="form-group col-sm-10">
					<br><button class="btn btn-default btn-primary btn-block" type="submit" name="submit">Login</button>
				</div>
					<br><h4><a href="/signup" style="text-decoration: none;">Don't have an account? Create new
            .</a></h4>
			</form>
        </center>
	<br>
</div>
</body>
</html>